/* HOJA DE ESTILOS */


img#logoTarjeta {
    height: 8%;
    width: 8%;
};

body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
}

.center {
    text-align: center;    
}




